.visitenos{
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
.containerUs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}
.containerUs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
    max-width: 35vw;
    min-width: 300px;
    border: 1px solid black;
    box-shadow: 0 0 5px 3px black;
    background-color: rgba(192, 192, 192, 0.5);
    margin: 30px;
    align-items: center;
}
.containerUs p{
    padding: 15px;
    line-height: 1.8;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0 0 5px lightskyblue;
    /* text-decoration-skip: 2; */
    letter-spacing: 2px;
}
.mapa{
    height: 350px;
    /* margin-bottom: 50px; */
}