.containerUs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}
.containerUs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
    max-width: 30vw;
    min-width: 300px;
    border: 1px solid black;
    box-shadow: 0 0 5px 3px black;
    background-color: rgba(192, 192, 192, 0.5);
    margin: 30px;
    align-items: center;
}
.containerUs p{
    padding: 15px;
    line-height: 1.7;
    text-align: center;
}
.mapa{
    height: 350px;
    /* margin-bottom: 50px; */
}