

.footerRedes {
    /* position: -webkit-sticky; */
    /* position: sticky;
    bottom: 0; */
    background-color: silver;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%; }

    .footerRedes__lista {
      margin: 0; } 

    /* .footerRedes__lista:hover a {
      filter: blur(2px); } */

    .footerRedes__item {
      /* display: inline-block; */
      margin-left: 25px;
      display: inline-block;
      margin: 0 5px;
      width: 50px;
      height: 50px;
      text-align: center; }

    .footerRedes__enlace {
      display: block;
      padding: 0 10px;
      background: #333;
      color: white;
      line-height: 50px;
      font-size: 18px;
      box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
      transition: .2s; }

    .footerRedes__enlace:hover {
      /* padding: 0;
      margin: 0; */
      color: white;
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4); }

    .footerRedes .facebook:hover {
      background: #3b5999;
      filter: none; }

    .footerRedes .instagram:hover {
      background: #e4405f;
      filter: none; }

    /* .footerRedes .twitter:hover {
      background: #55acee;
      filter: none; } */
    .footerRedes .tiktok svg:hover{
      /* transform: scale(.9); */
      /* width: 70%; */
      display: inline;
    }
    .footerRedes .tiktok:hover{
      background-color: blueviolet;
      /* transform: scale(1); */
      filter: none;
    }
    .footerRedes .tiktok svg{
      /* color: yellow; */
      fill: white;
      width: 60%;
    }