
.titleHome{
    text-align: center;
    margin: 25px;
}
.subtitleHome{
    text-align: center;
    margin-bottom: 50px;
}
.containerImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}


/* CAROUSEL */

.carouselContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#carouselExampleCaptions{
    width: 800px;
}

.d-block{
    height: 90vh;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    color: black;
    border-radius: 50%;
}

@media only screen and (max-width:700px){

    .carousel-inner img{
        height: fit-content;
    }

}

/* COMPONENTE CARDS */
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.cardsContainer>div:hover{
    transform: translateY(-5px) scale(1.05);
}
.cardsContainer a{
    text-decoration: none;
    color: black;
}
.cardd{
    width: 320px;
    margin: 15px;
    box-shadow: 0 0 5px 3px black;
    border-radius: none !important;
    background-color: silver;
}
.cardd h5{
    text-align: center;
}
.imgCard{
    width: 320px;
    height: 200px;
}