*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titleHome{
    text-align: center;
    margin: 25px;
}
.subtitleHome{
    text-align: center;
    margin-bottom: 50px;
}
.containerImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.containerImg img{
    width: 80vw;
    min-width: 200px;
    margin: 30px;
    box-shadow: 0 0 5px 5px black;
}

/* CAROUSEL */

.carouselContainer{
    /* height: 50vh; */
    /* display: none; */
    /* margin: 10px 20vw; */
    /* width: 70vw; */
    display: flex;
    justify-content: center;
    
}
#carouselExampleCaptions{
    width: 800px;
}
.d-block{
    height: 90vh;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    color: black;
    border-radius: 50%;
}

/* COMPONENTE CARDS */
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.cardsContainer a{
    text-decoration: none;
    color: black;
}
.cardd{
    width: 320px;
    margin: 15px;
    box-shadow: 0 0 5px 3px black;
    border-radius: none !important;
    background-color: silver;
}
.cardd h5{
    text-align: center;
}
.imgCard{
    width: 320px;
    /* margin: 2px; */
    height: 200px;
}