*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root{
    margin: 0;
  } */
nav{
    height: 70px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav h2{
    margin: 25px;
}
nav ul{
    display: flex;
    align-content: center;
    margin-bottom: 0;
    padding-left: 0;
}
nav ul li{
    list-style: none;
    margin: 15px;

}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
nav a:hover{
    color: silver;
    text-shadow: 0 0 3px black;
}
.logoContainer{
    height: 100%;

}
.logo{
    height: 100%;
    opacity: 0.9;
}




/* RESPONSIVE */
@media only screen and (max-width: 500px){
    nav{
        flex-direction: column;
        height: auto;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    .logoContainer{
        width: 100%;
        background-color: black;
        text-align: center;
    }
    .logo{
        width: 80px;
        height:80px;
    }
    .logo1{
        margin-left: 30px;
    }
}