.promotionsContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.title{
    text-align: center;
    margin: 30px;
}
.promoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promoCard div{
    margin: 20px 0;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.411);
}
.promoCard div img{
    max-width: 85vw;
}
.promoCard span{
    color: red;
    font-weight: bolder;
}
